# Copy this file to .env and fill in your values
# cp .env.example .env

# Lab device credentials
LAB_USER=student
LAB_PASS=

# ZTP
ZTP_DOMAIN=
ZTP_SECRET=
ZTP_USER=
ZTP_PASS=
ZTP_LOG_PATH=/bootflash/ztp.log
